@import "tailwindcss";

@theme {
  --color-light: #f9fafb;
  --color-text-light: #333333;
  --color-btn-light: #3b82f6;
  --color-input-bg-light: #e5e7eb;
  --color-border-light: #d1d5db;

  /* Dark colors*/
  --color-dark: #121212;
  --color-text-dark: #f9fafb;
  --color-btn-dark: #2563eb;
  --color-input-bg-dark: #4b5563;
  --color-border-dark: #6b7280;
  --color-card: #1e1e1e;
}

@custom-variant dark (&:where(.dark, .dark *));
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
  display: none;
}
body{
  color: black;
}